@model int

@{
    ViewBag.Title = "Hoàn tất mua hàng";
}
  <div class="defaultContent BlockContent">
<h2>Hoàn tất mua hàng</h2>

<p>Cám ơn bạn đã mua hàng của chúng tội.Mã hóa đơn của bạn là <h2 style="Color:Red"> @Model</h2>   </p> 

<h2>Chúng tôi sẽ giao hàng cho bạn trong thời gian ngắn nhất
</h2>
 </div>