<div class="weather DefaultModule">
    <div class="DefaultContainer TextHTML-Title">
        <span style="font-size:x-large"><strong>Thời tiết</strong></span></div>
    <div class="DefaultContainer TextHTML-content">
        <div id="BoxWeather">
            <div class="weather_header">
                <select name="ddlCity" id="ddlCity" class="" style="width: auto;">
	                <option value="/Images/weather/30.gif;12°C - 21°C;Nắng nhẹ;/Images/weather/32.gif;12°C - 23°C;Nắng nhẹ;/Images/weather/30.gif;16°C - 23°C;Nắng nhẹ;">Bắc Giang</option>
	                <option value="/Images/weather/30.gif;21°C - 32°C;Nắng nhẹ;/Images/weather/39.gif;21°C - 31°C;Nắng nhẹ;/Images/weather/38.gif;22°C - 31°C;Nắng nhẹ;">Biên Hòa</option>
	                <option value="/Images/weather/30.gif;23°C - 30°C;Nắng nhẹ;/Images/weather/30.gif;24°C - 29°C;Nắng nhẹ;/Images/weather/28.gif;24°C - 28°C;Nắng nhẹ;">Cần Thơ</option>
	                <option value="/Images/weather/30.gif;13°C - 22°C;Nắng nhẹ;/Images/weather/32.gif;13°C - 23°C;Nắng nhẹ;/Images/weather/30.gif;17°C - 24°C;Nắng nhẹ;">Hải Phòng</option>
	                <option value="/Images/weather/30.gif;12°C - 21°C;Nắng nhẹ;/Images/weather/32.gif;12°C - 24°C;Nắng nhẹ;/Images/weather/30.gif;16°C - 24°C;Nắng nhẹ;">Hà Nội</option>
	                <option selected="selected" value="/Images/weather/30.gif;21°C - 32°C;Nắng nhẹ;/Images/weather/39.gif;21°C - 31°C;Nắng nhẹ;/Images/weather/38.gif;22°C - 31°C;Nắng nhẹ;">TP. Hồ Chí Minh</option>
	                <option value="/Images/weather/11.gif;18°C - 22°C;Nắng nhẹ;/Images/weather/39.gif;18°C - 26°C;Nắng nhẹ;/Images/weather/37.gif;21°C - 26°C;Nắng nhẹ;">Huế</option>
	                <option value="/Images/weather/30.gif;21°C - 32°C;Nắng nhẹ;/Images/weather/39.gif;22°C - 31°C;Nắng nhẹ;/Images/weather/38.gif;22°C - 31°C;Nắng nhẹ;">Vũng Tàu</option>
	                <option value="/Images/weather/39.gif;7°C - 18°C;Nắng nhẹ;/Images/weather/32.gif;7°C - 21°C;Nắng nhẹ;/Images/weather/30.gif;9°C - 22°C;Nắng nhẹ;">Lạng Sơn</option>
	                <option value="/Images/weather/34.gif;13°C - 21°C;Nắng nhẹ;/Images/weather/30.gif;13°C - 23°C;Nắng nhẹ;/Images/weather/30.gif;17°C - 23°C;Nắng nhẹ;">Thanh Hóa</option>
	                <option value="/Images/weather/30.gif;14°C - 20°C;Nắng nhẹ;/Images/weather/30.gif;14°C - 23°C;Nắng nhẹ;/Images/weather/26.gif;18°C - 22°C;Nắng nhẹ;">Vinh</option>
	                <option value="/Images/weather/38.gif;22°C - 26°C;Nắng nhẹ;/Images/weather/38.gif;22°C - 27°C;Nắng nhẹ;/Images/weather/38.gif;22°C - 27°C;Nắng nhẹ;">Nha Trang</option>
	                <option value="/Images/weather/37.gif;23°C - 31°C;Nắng nhẹ;/Images/weather/28.gif;23°C - 31°C;Nắng nhẹ;/Images/weather/26.gif;23°C - 29°C;Nắng nhẹ;">Cà Mau</option>
                </select>
            </div>
            <div class="weather_content">
                <div class="item" style="border-right: 1px solid #e1e1e1;">
                    <div class="weather_day">Hôm nay</div>
                    <div class="weather_image">
                        <img id="_Image_1" alt="" src="/Images/weather/30.gif">
                    </div>
                    <div class="weather_temp">
                        <span id="_Degree_1">12°C - 21°C</span>
                    </div>
                    <div class="weather_desc">
                        <span id="_Desc_1">Nắng nhẹ</span>
                    </div>
                </div>
                <div class="item">
                    <div class="weather_day">Ngày mai</div>
                    <div class="weather_image">
                        <img id="_Image_2" alt="" src="/Images/weather/32.gif">
                    </div>
                    <div class="weather_temp">
                        <span id="_Degree_2">12°C - 23°C</span>
                    </div>
                    <div class="weather_desc">
                        <span id="_Desc_2">Nắng nhẹ</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="defaultFooter weather-footer"><div></div></div>
</div>