<div id="TextHTML-Module" class="DefaultModule">

<div class="DefaultContainer TextHTML-Title">
        <span style="font-size:x-large"><strong>QUẢNG CÁO</strong></span></div>
<div class="defaultContent TextHTML-content">
<p style="text-align: center;">
    <marquee direction="up" scrollamount="2" scrolldelay="8" onmouseover="this.stop()" onmouseout="this.start()" >
        <img src="../../Images/Product/1.jpg" width="190" height"125" />
        <img src="../../Images/Product/2.jpg" width="190" height"125" />
        <img src="../../Images/Product/1.jpg" width="190" height"125" />
     </marquee>
</div>
<div class="clear defaultFooter TextHTML-footer"><div></div></div>

</div>
