<div id="Header">
    <div id="FlashBanner" style="display: block; text-align:center">
        <script type="text/javascript">            AC_FL_RunContent('codebase', 'http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0', 'height', '180px', 'width', '1019px', 'src', '/Sites/1019x180.swf', 'quality', 'high', 'wmode', 'transparent', 'pluginspage', 'http://www.macromedia.com/go/getflashplayer', 'movie', '/Sites/1019x180.swf', 'FlashVars', '');</script>
        <object codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0"
            height="180px" width="1019px" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000">
            <param name="movie" value="/Sites/1019x180.swf">
            <param name="quality" value="high">
            <param name="wmode" value="transparent">
            <param name="FlashVars" value="">
            <embed height="180px" width="1019px" src="/Sites/1019x180.swf"
                quality="high" wmode="transparent" pluginspage="http://www.macromedia.com/go/getflashplayer"
                flashvars="" type="application/x-shockwave-flash"></object><noscript>&lt;objectcodebase
                    = 'http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0'classid='clsid:d27cdb6e-ae6d-11cf-96b8-444553540000''height','180px','width','1019px',&gt;&lt;param
                    name='movie' value='/Sites/1019x180.swf'&gt;&lt;param name='quality'
                    value='high'&gt;&lt;param name='wmode' value='transparent'&gt;&lt;param name='FlashVars'
                    value=''&gt;&lt;embed src='/Sites1019x180.swf'quality='high'
                    wmode='transparent' pluginspage='http://www.macromedia.com/go/getflashplayer' flashvars
                    = ''type='application/x-shockwave-flash''height','180px','width','1019px',&gt;&lt;/object&gt;</noscript>
        <span id="ctl00_ctlFlashImage_lblHienthi"></span>
    </div>
    <div id="Logo" style="display: none;">
        <div id="LogoContainer">
            <h1>
                <a href="/"><span></span></a>
            </h1>
        </div>
    </div>
</div>
