@using System.Linq
@using System.Xml.Linq
@using TheShoeWebsite.Models
@{
    BanGiayRepository db = new BanGiayRepository();
    var Cat = db.GetCategory();
}
<div id="cate-menu" class="DefaultModule">
    <div class="DefaultContainer cate-menu-title">
        <span style="font-size:x-large"><strong>Danh mục sản phẩm</strong></span>
    </div>
    <div class="defaultContent cate-menu-content">
        <ul>
            @foreach (var item in Cat)
            {            
                <li><a href="/Category/Details/@item.CategoryId"><span>
                    @item.Description</span></a>
                    <ul style="display: block;">
                        @foreach (var s in item.SubCategories)
                        {
                            <li class="has-sub"><a href="/SubCategory/Details/@s.SubCatId"><span>
                                @s.Description</span></a>
                                <ul style="display: block;">
                                </ul>
                            </li>
                        }
                    </ul>
                </li>
            }
        </ul>
    </div>
    <div class="defaultFooter cate-menu-footer">
        <div>
        </div>
    </div>
</div>
