<div class="mini-cart DefaultModule">
    <div class="DefaultContainer mini-cart-title">
        <span style="font-size:x-large"><strong>Giỏ hàng</strong></span></div>
    <div class="defaultContent mini-cart-content">
        <div id="plist">
            
            <div class="non-product">
               Không có sản phẩm trong giỏ.
            </div>
            
        </div>
    </div>
    <div class="clear defaultFooter mini-cart-footer"><div></div></div>
</div>