<div id="TextHTML-Module" class="DefaultModule">

<div class="DefaultContainer TextHTML-Title">
        <span style="font-size:x-large"><strong>Liên kết Website</strong></span></div>
<div class="defaultContent TextHTML-content">
<p style="text-align: center; ">
	<select border="1" name="sites1" onchange="window.open(this.options[this.selectedIndex].value,'_blank'); sites.options[0].selected=true" size="1" style="FONT-FAMILY: Tahoma; "><option>Đọc báo online</option><option>-------------------------------</option><option value="http://www.anninhthudo.vn/">An ninh Thủ đô</option><option value="http://www.tienphong.vn/">Tiền Phong</option><option value="http://dantri.com.vn/">Dân trí</option><option value="http://vtc.vn/">Truyền hình KTS</option><option value="http://www.anninhthudo.vn/">An ninh Thủ đô</option><option value="http://antg.cand.com.vn/">An ninh Thế Giới</option><option value="http://www.vtv.vn/">Truyền hình Việt Nam</option><option value="http://www.laodong.com.vn/">Báo Lao động</option><option value="http://vnexpress.net/">VN express</option><option value="http://suckhoedoisong.vn/">Sức khỏe &amp; đời sống</option><option value="http://vietnamnet.vn/">Việt Nam net</option><option value="http://www.nhandan.org.vn/">Báo Nhân dân</option></select></p>
<p style="text-align: center; ">
	<select border="0" name="Tùy chọn thông tin" onchange="window.open(this.options[this.selectedIndex].value,'_blank'); sites.options[0].selected=true" size="1" style="FONT-FAMILY: Tahoma; "><option value="Ca nhạc – Giải trí">Ca nhạc – Giải trí</option><option value="-------------------------------">-------------------------------</option><option value="http://nhacviet.vietnamnet.vn/">Nhạc Việt</option><option value="http://www.nghenhac.info/">Nghenhạc.infor</option><option value="http://nhacso.net/">Nhạc số</option><option value="http://sannhac.com/">Hát Karaoke</option><option value="http://www.nhaccuatui.com/">Nhạc của tui</option><option value="http://mp3.zing.vn/">MP3</option><option value="http://phim.timnhanh.com/">Phim hot</option></select></p>

</div>
<div class="clear defaultFooter TextHTML-footer"><div></div></div>

</div>