<div class="support-online DefaultModule">
    <div class="DefaultContainer support-online-Title">
        <span style="font-size:x-large"><strong>Hỗ trợ trực tuyến</strong></span></div>
    <div class="defaultContent support-online-content">
        
                <div class="support-item">
                    <a href="ymsgr:sendim?levanhong.1992&amp;m=Xin chào" title="Mr Hồng"><img src="http://opi.yahoo.com/online?find_new_love&amp;m=g&amp;t=14&amp;l=us" alt=""></a><br><a href="ymsgr:sendim?levanhong.1992;m=Xin chào" title="Mr Hong">Eric Lee</a><br>ĐT: 01648.271.680<br>
                </div>
            
                <div class="support-item">
                    <a href="ymsgr:sendim?ngannamdoi05&amp;m=Xin chào" title="Hỗ trợ bán hàng"><img src="http://opi.yahoo.com/online?u=bad_boya15&amp;m=g&amp;t=14&amp;l=us" alt=""></a><br><a href="ymsgr:sendim?ngannamdoi05&amp;m=Xin chào" title="Hỗ trợ bán hàng">Hỗ trợ bán hàng</a><br>ĐT: 0985.694.130<br>
                </div>
            
    </div>
    <div class="clear defaultFooter support-online-footer"><div></div></div>
</div>