<div id="useronline" class="DefaultModule">
    <div class="DefaultContainer useronline-title">
        <span style="font-size:x-large"><strong>Lượt truy cập</strong></span></div>
    <div class="defaultContent useronline-content">
        <table class="UserOnlineTable">
            <tbody><tr id="showOnlineToday">
                <td class="showIconToday">
                </td>
                <td>
                    <span id="ctl00_cphMain_ctl00_ctl12_lbToday" class="UserOnlineLabel">Hôm nay:</span>
                </td>
                <td>
                    <span id="ctl00_cphMain_ctl00_ctl12_lblTodayOnlineCount" class="UserOnlineValue" style="font-weight:bold;">226</span>
                </td>
            </tr>
            <tr id="showOnlineYesterday">
                <td class="showIconYestoday">
                </td>
                <td>
                    
                    <span class="UserOnlineLabel">Hôm qua</span>
                </td>
                <td>
                    <span id="ctl00_cphMain_ctl00_ctl12_lblYesterdayOnlineCount" class="UserOnlineValue" style="font-weight:bold;">312</span>
                </td>
            </tr>
            <tr id="showOnlineTotal">
                <td class="showIconVisitor">
                </td>
                <td>
                    <span id="ctl00_cphMain_ctl00_ctl12_lbVisitors" class="UserOnlineLabel">Tất cả:</span>
                </td>
                <td>
                    <span id="ctl00_cphMain_ctl00_ctl12_lblAllTimeView" class="UserOnlineValue" style="font-weight:bold;">13264</span>
                </td>
            </tr>
        </tbody></table>
    </div>
    <div class="defaultFooter useronline-footer"><div></div></div>
</div>